build/*
Directory.Build.targets
dist/*
WE6SIM/bin/*
WE6SIM/obj/*

*.7z
.*
*.blend1
unity_project/Assets/AssetBundles/*
unity_project/*.sln
unity_project/*.csproj
unity_project/Library/*
unity_project/obj/*
unity_project/Temp/*
!unity_project/Packages/*
!unity_project/Assets/Catenary/Mesh/*.obj*
!unity_project/Assets/Catenary/Mesh/Cantilevers/*.obj*
!unity_project/Assets/Catenary/Mesh/Gantries/*.obj*
!unity_project/Assets/Catenary/Mesh/Signs/*.obj*
!unity_project/Assets/_CCL_CARS/Mesh/*.obj*
!unity_project/Assets/_CCL_CARS/Mesh/Bogies/*.obj*
!unity_project/Assets/_CCL_CARS/Mesh/Indicators/*.obj*
!unity_project/Assets/_CCL_CARS/Mesh/Levers/*.obj*
!unity_project/Assets/_CCL_CARS/Mesh/Lights/*.obj*
!unity_project/Assets/_CCL_CARS/Mesh/PantographParts/*.obj*
!unity_project/Assets/_CCL_CARS/Mesh/WindowsAndDoors/*.obj*
WE6SIM/catenary/local_repository.cs
*.exe
/custom-car-loader-OCS
unity_project/Assets/_CCL_CARS/ThirdParty/InteriorLightOff.jpg
unity_project/Assets/_CCL_CARS/ThirdParty/InteriorLightOff.jpg.meta
unity_project/Assets/_CCL_CARS/ThirdParty/InteriorLightOn.jpg
unity_project/Assets/_CCL_CARS/ThirdParty/InteriorLightOn.jpg.meta
*.bat
unity_project/Assets/_CCL_CARS/ThirdParty/catenary.png
unity_project/Assets/_CCL_CARS/ThirdParty/catenary.png.meta
unity_project/Assets/_CCL_CARS/ThirdParty/catenary_bet-1.png
unity_project/Assets/_CCL_CARS/ThirdParty/catenary_bet-1.png.meta
unity_project/Assets/_CCL_CARS/ThirdParty/catenary_bet-2.png
unity_project/Assets/_CCL_CARS/ThirdParty/catenary_bet-2.png.meta
